@media (prefers-color-scheme: dark) {
    .znc blockquote {
        color: #9dacb7 !important;
    }

    .znc summary {
        background-color: transparent !important;
    }

    .znc div {
        background-color: transparent !important;
    }
}
